body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}
.titleScreen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.titleText {
  font-size: 4rem;
  font-weight: 750;
  margin-bottom: 1rem;
  
}
.titleSubtext {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  
  
}
.startButton {
  text-align: center;
  margin: 1rem;
  width: 30vw;
  height: 10vw;
  cursor: pointer;
  
  
}
.startInput {
  text-align: center;
  margin:1rem;
  width: 45vw;
  height: 8vw;
  cursor: text;
  
  
  
}
