body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}
.titleScreen {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.startButton {
  text-align: center;
  width: 10vw;
  
  
}
