body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}
.titleScreen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}
.titleForm {
  align-items: center;
  
  
  
}
.titleText {
  font-size: 4rem;
  font-weight: 750;
  margin-bottom: 1rem;
  
}
.titleSubtext {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  
  
}
.titleButton {
  font-size: 0.8rem;
  text-align: center;
  border-radius: 10px;
  margin: 2rem;
  width: 26vw;
  height: 5vw;
  cursor: pointer;
  
  
}
.titleInput {
  font-size: 0.8rem;
  text-align: center;
  margin:1rem;
  width: 45vw;
  height: 4vw;
  cursor: text;
  
  
  
}
